version: '1.0.{build}'
image: Visual Studio 2017
branches:
  only:
  - master

init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true

install:
  # Install repo specific stuff here

before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  
build:
./AppVeyorIntegration/AppVeyorIntegration.sln

on_finish :
  # any cleanup in here
deploy: off