version: '1.0.{build}'
image: Visual Studio 2017
branches:
  only:
  - master

init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true

install:
  # Install repo specific stuff here

before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  # Display minimal restore text
  - cmd: nuget sources add -Name AppVeyor -Source https://ci.appveyor.com/nuget/babelfornet-rmvl3l0ousvg -UserName info@babelfor.net -Password akira28570
  - cmd: nuget restore ./AppVeyorIntegration/AppVeyorIntegration.sln

build:
  verbosity: minimal
  
artifacts:
  - path: AppVeyorIntegration\AppVeyorIntegration\bin\Debug\netcoreapp2.1
