version: '1.0.{build}'
image: Visual Studio 2017
branches:
  only:
  - master

init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true

# build Configuration, i.e. Debug, Release, etc.
configuration:
  - Release

before_build:
  # Display .NET Core version
  - cmd: dotnet --version

  # Add private AppVeyor feed source
  - cmd: nuget sources add -Name AppVeyor -Source https://ci.appveyor.com/nuget/babelfornet-rmvl3l0ousvg -UserName info@babelfor.net -Password akira28570
  # Display minimal restore text
  - cmd: nuget restore ./AppVeyorIntegration/AppVeyorIntegration.sln

build:
  verbosity: minimal
  
artifacts:
  - path: ./AppVeyorIntegration/AppVeyorIntegration/bin/$(configuration)/netcoreapp2.1
    name: Build_$(configuration)_$(version)
